 <div class="container text-center">
<%= form_tag "/games/search/results", method: :get, remote: true do %>
  <div class="form-group form-group-sm">
  <%= label_tag :Search_by_game_title, 'Search by Game Title:' %>
  </div>
  <div class="form-group form-group-lg">
  <div class="row justify-content-center">
  <div class="col-5">
  <%= text_field_tag :search, '', :class => "form-control", :placeholder => "Game Title" %>
  </div>
  </div>
  </div>
  <%= submit_tag 'Search for Games'%>
<% end %>

<div class='results'></div>
</div>