<body
  style="background-color: #e8cbc0; background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4); background: linear-gradient(to right, #e8cbc0, #636fa4);">

  <div class="row justify-content-center">
    <div class="shadow p-3 pop-out col-md card m-5 align-items-center scroll"
      style="max-width: 350px; min-height: 500px" id="game-nights">

      <div id=welcome-message style="color: #17a2b8;">
        <h1>GameNight</h1>
      </div>
      <div class="row">
        <div class="col-md-3">
          <a class="btn btn-outline-dark mb-5 mt-3" href='/auth/google_oauth2' role="button" style="text-transform:none">
            <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
            Login with Google
          </a>
        </div>
      </div>
      <div id=description style="text-align: center">
        <h3>Game Night will have you and your friends playing your favorite board games in no time.</h3>
      </div>
    </div>
  </div>