<nav class="navbar">
    <div class="container">
            <ul class="navbar">
            <li class='nav-item'><%= link_to 'Dashboard', dashboard_index_path, class: 'nav-link' %></li>
            </ul>
    </div>
</nav>